@mixin font-stack {
    font-family: hero-new, sans-serif;
    font-weight: 700;
    font-style: normal;
}



body {
    @include font-stack;  
    margin: 0px;
    height: 100vh;
}

#top-logo {
    width: 80px;
    padding-top: 25px;
}

.top, .bottom {
    text-align: center;
}


#bottom-logo {
    width: 60px;
}

.main-search-background{
    background: url("../images/landing-image.svg") no-repeat;
    background-size: 125%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}
.main-area {
    text-align: center;
    width: 100%;
}
main {
    padding-top: 40px;
}
.search-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
#lyrics {
    overflow: auto;
    height: 300px;
    display: none;
    text-align: left;
}
@media screen and(max-width: 425px){
    .main-search-background{
        background: url("../images/mobile-image.svg") no-repeat;
        background-size: 100%;
            }
            .input-group > .form-control {
                flex: 0 1 auto;
            }
            .input-group-append, #MaterialButton-addon2 {
                width: 100%;
            }
}
.error {
    max-width: 200px;
}